{%load static%}
<html>
<head>
	<link rel="stylesheet" href="{%static 'css/style.css'%}">
	<link href="{%static 'css/magnific-popup.css'%}" rel="stylesheet">
	<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
/>
	<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<style>
	div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>
<div class="dashboard">
	<header class="menu-wrap">
		<figure class="user">
			<figcaption>
				<div class="p-20 min-h-screen bg-gray-200">
<div class="flex items-center bg-white border border-gray-200 rounded-lg shadow shadow-lg p-3 w-full md:w-1/2">
  <img src="{%static 'img.png'%}" width="130" class="mr-4 rounded">
  <div class="text-gray-700">
    <h2 class="text-gray-800 font-bold text-2xl">Username:{{request.user.username}}</h2>
    <p class="text-sm">email:{{request.user.email}}</p>
  </div>
</div>
</div>
			</figcaption>
		</figure>

		<nav>
			<section class="discover">
				<h3>Menu</h3>

				<ul>
					<li>
						<a href="http://127.0.0.1:8000/">
							Main
						</a>
					</li>
					<li>
						<a href="http://127.0.0.1:8000/jsonparser/">
							Parse Json
						</a>
					</li>

					<li>
						<a href="http://127.0.0.1:8000/textparser/">
							Parse Text
						</a>
					</li>
					<li>
						<a href="http://127.0.0.1:8000/imageparser/">
							Parse Image
						</a>
					</li>
				</ul>
			</section>


		</nav>
	</header>
{{text}}
	<main class="content-wrap">
		<header class="content-head">

			<div class="action">
				<form method='get' action='#'>
					<p>Url: </p><input type="text" name="url">
    <input type="submit" value="Next" name="Next"/>
</form>
				{% for i in image %}
				<div class="gallery">
					<a target="_blank" href="{{i}}">
						<img src="{{i}}" alt="Cinque Terre" width="600" height="400">
					</a>
				</div>
				{% endfor %}
				<th><form method='post' action='#'>{% csrf_token %}<input type="submit" value="Save" name="Save"/></form></th>
		</header>
	</main>
<script type="module">
  import Swiper from 'https://unpkg.com/swiper@8/swiper-bundle.esm.browser.min.js'

  const swiper = new Swiper('.swiper', {
  direction: 'vertical',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
});
</script>
</body>
</html>