{%load static%}
<html>
<head>
	<link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
<div class="dashboard">
	<header class="menu-wrap">
		<nav>
			<div class="container">
				
				<div class="card">
					
				  <div class="header">
					<div class="p-20 min-h-screen bg-gray-200">
						<div class="flex items-center bg-white border border-gray-200 rounded-lg shadow shadow-lg p-3 w-full md:w-1/2">
						  <img src="{%static 'img.png'%}" width="130" class="mr-4 rounded">
						  <div class="text-gray-700">
							<h2 class="text-gray-800 font-bold text-2xl" style="color:white">Username:{{request.user.username}}</h2>
							<p class="text-sm" style="color:white">email:{{request.user.email}}</p>
						  </div>
						</div>
						</div>
					<h3>Menu IU <i class="fas fa-angle-down iconM"></i></h3>
				  </div>
				  <div class="body">
					<ul>
					  <li><i class="fas fa-home icon"><a href="http://127.0.0.1:8000/"></i> Home</li>
					  <li><i class="fas fa-underline icon"></i> Parse Json</li>
					  <li><i class="fas fa-boxes icon"></i> Parse Text</li>
					  <li><i class="fas fa-table icon"></i> Parse Image</li>
					  <li><i class="fab fa-wpforms icon"></i> Forms
						<ul>
						  <li><i class="fas fa-pencil-alt icon"></i> First form</li>
						  <li><i class="fas fa-paper-plane icon"></i> Second form</li>
						</ul>
					  </li>
					  <li><i class="fas fa-chart-pie icon"></i> Charts</li>
					</ul>
				  </div>
				</div>
			  </div>
		</nav>
	</header>

	<main class="content-wrap">
		<aside class="search-wrap">
		<div class="search">
			<label for="search">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"/></svg>
				<input type="text" id="search">
			</label>
		</div>
	</aside>
		<table class="styled-table">
    <thead>
        <tr>
            <th>Date</th>
			<th>Parsed Data</th>
			<th>Type</th>
			<th>Download</th>
        </tr>
    </thead>
    <tbody>
	{% for i in parseddata %}
        <tr>
			<td>{{i.createdate}}</td>
			{% if i.parsedjson|length > 1%}
			<td>{{i.parsedjson|truncatechars:60}}</td>
			<td>Json</td>
			<td><form method='get' action='#'><input type="submit" value="{{i.id}}" name="downloadjson" class='inp'/></form></td>
			{%elif i.parsedtext|length > 1%}
			<td>{{i.parsedtext|truncatechars:60}}</td>
			<td>Text</td>
			<td><form method='get' action='#'><input type="submit" value="{{i.id}}" name="downloadtext" class='inp'/></form></td>
			{% else %}
			<td>{{i.images}}</td>
			<td>Image</td>
			<td><form method='get' action='#'><input type="submit" value="{{i.id}}" name="downloadimage" class='inp'/></form></td>
			{% endif%}
		</tr>
	{% endfor %}
    </tbody>
</table>
	</main>
</div>
</body>
</html>